<main>
    {{!-- <div class="container"> --}}

    <video id="localVideo" autoplay muted></video>


    <video id="remoteVideo" hidden autoplay>


    </video>




    <div class="prokrutka hide-on-small-and-down">
        <ul id="contacts" class="collection" />
    </div>

    {{!-- <ul class="sidenav" id="contacts-menu">
        <li><span>ksdjnckajsnd</span></li>
        <li><a href="sdfvsdfvs">dsfvsdfvsdft</a></li>
    </ul> --}}


    <ul id="slide-out" class="sidenav">
        {{#if User}}
        <li><span class="title ">{{User.name}}<b>
                    ({{User.number}})</b></span></li>
        <li>
            {{!-- <form action=""> --}}
            <div class="input-field">
                <select id="band_select">
                    <option value="" disabled selected>Скорость входящего потока</option>
                    <option value="unlimited" selected>Не ограничивать</option>
                    <option value="5000">5000 кбит/с</option>
                    <option value="3000">3000 кбит/с</option>
                    <option value="1500">1500 кбит/с</option>
                    <option value="1000">1000 кбит/с</option>
                    <option value="750">750 кбит/с</option>
                    <option value="500">500 кбит/с</option>
                    <option value="250">250 кбит/с</option>
                    <option value="125">125 кбит/с</option>
                </select>
                <label>Скорость входящего потока</label>
            </div>
            {{!-- </form> --}}

        </li>
        <li>
            {{!-- <form action=""> --}}
            <div class="input-field">
                <select id="band_out_select">
                    <option value="" disabled selected>Скорость исходящего потока</option>
                    <option value="unlimited" selected>Не ограничивать</option>
                    <option value="5000">5000 кбит/с</option>
                    <option value="3000">3000 кбит/с</option>
                    <option value="1500">1500 кбит/с</option>
                    <option value="1000">1000 кбит/с</option>
                    <option value="750">750 кбит/с</option>
                    <option value="500">500 кбит/с</option>
                    <option value="250">250 кбит/с</option>
                    <option value="125">125 кбит/с</option>
                </select>
                <label>Скорость исходящего потока</label>
            </div>
            {{!-- </form> --}}

        </li>
        <li>
            <span class="title" >Статистика входящего потока
                <div style="text-align: left; padding: 10px;">
                    <div id="vcodec_in">Видеокодек</div>
                    <div id="acodec_in">Аудиокодек</div>
                    <div style="display:flex;background-color: rgb(252, 212, 212);">
                        <div id="width_in" class="statistic"></div>
                       <span id="kbps_in"></span>
                    </div>
                    <div id="framerate_in">Кадров/с</div>
                    <div id="wpx_in">Размер кадра, пикс.</div>
                </div>
            </span>
        </li>
        <li>
                      <span class="title" >Статистика исходящего потока
                <div style="text-align: left; padding: 10px;">
                    <div id="vcodec_out">Видеокодек</div>
                    <div id="acodec_out">Аудиокодек</div>
                    <div style="display:flex;background-color: rgb(252, 212, 212);">
                        <div id="width_out" class="statistic"></div>
                       <span id="kbps_out"></span>
                    </div>
                    <div id="framerate">Кадров/с</div>
                    <div id="wpx">Размер кадра, пикс.</div>

                </div>
            </span>
        </li>

        <li><a href="/exit/{{User.number}}">Выход</a></li>

        {{/if}}
    </ul>


    <ul class=" collapsible sidenav" id="contacts-menu">

    </ul>
    <!-- Modal Structure -->
    <div id="modal_call_out" class="modal">
        <div class="modal-content">
            <div class="grid-wrapper">
                <img src="/static/gerb.png" style="grid-area:logimg"></img>
                <h5 style="gred-area:vizov">Вызов..</h5>
                <div class="progress white black" style="grid-area:progress">
                    <div class="indeterminate"></div>
                </div>
                <h4 style="grid-area:name; text-align:center" id="out_modal_name"></h4>
                <h5 style="grid-area:place; text-align:center" id="out_modal_place"></h5>
                <h5 style="grid-area:number;text-align:center" id="out_modal_number"></h5>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" style="grid-area:cancel" ;
                class="modal-close waves-effect waves-red btn-flat deep-orange lighten-4 cancel">Отмена</a>
        </div>


    </div>

    <!-- Modal Structure -->
    <div id="modal_call_in" class="modal">
        <div class="modal-content">
            <div class="grid-wrapper">
                <img src="/static/gerb.png" style="grid-area:logimg"></img>
                <h5 style="gred-area:vizov">Вызов..</h5>
                <div class="progress" style="grid-area:progress">
                    <div class="indeterminate"></div>
                </div>
                <h4 style="grid-area:name; text-align:center" id="in_modal_name"></h4>
                <h5 style="grid-area:place; text-align:center" id="in_modal_place"></h5>
                <h5 style="grid-area:number;text-align:center" id="in_modal_number"></h5>
            </div>
            <div class="modal-footer">
                <a href="#!" style="grid-area:cancel" ;
                    class="modal-close waves-effect waves-red btn-flat  deep-orange lighten-4 cancel">Отмена</a>
                <a href="#!" style="grid-area:accept" ;
                    class="modal-close waves-effect waves-green btn-flat  green accent-1 accept">Принять</a>
            </div>
        </div>
    </div>

    {{!-- AUDIO --}}

    <audio id="kpv" loop preload>
        <source src="/static/kpv.mp3" type="audio/mp3">
    </audio>
    <audio id="rington" loop preload>
        <source src="/static/rington.wav" type="audio/wav">
    </audio>
    <audio id="sound_connected" preload>
        <source src="/static/usb-in.mp3" type="audio/mp3">
    </audio>
    <audio id="sound_disconnected" preload>
        <source src="/static/usb-out.mp3" type="audio/mp3">
    </audio>
    <audio id="busy" preload loop>
        <source src="/static/busy.mp3" type="audio/mp3">
    </audio>



</main>



{{!-- ////////////////FOOTER////////////// --}}
<footer class="footer" style="position: relative;  background-color: #799eb0;">


    <div class="cpplace" hidden>


        <div id="settings-btn" class="fixed-action-btn">
            <a class="btn-floating btn-large ">
                <i class="large material-icons">settings</i>
            </a>
            <ul>
                <li><a id="micButton" class="btn-floating darkblue"><i class="material-icons">mic</i></a></li>
                <li><a id="camButton" class="btn-floating darkblue"><i class="material-icons">videocam</i></a></li>
                <li><a id="outButton" class="btn-floating   red"><i class="material-icons">call_end</i></a></li>
            </ul>
        </div>

    </div>
    <div>
        <span id="status" class="status right-align ">Ожидаем подключения..</span>
    </div>



</footer>



{{!-- //////////////////SCRIPT///////////// --}}
<script>console.log("Save for user ", {{ User.number }});
    localStorage['user_number'] = {{ User.number }};
    document.querySelector('select#band_out_select').value=localStorage['BAND_OUT']
    document.querySelector('select#band_select').value=localStorage['BAND_IN']

</script>
<script src='/js/client2.js'></script>
<script src='/matjs/materialize.js'></script>
{{!-- <script src="/js/graph.js"></script>

<script src="/js/ga.js"></script> --}}